<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="IP1" value="192.168.1.82" />
    <add key="Subnet1" value="255.255.255.0" />
    <add key="DefaultGateway1" value="192.168.1.1" />
    <add key=" PrefferedDNS1" value="8.8.8.8" />

    <add key="IP2" value="192.168.2.82" />
    <add key="Subnet2" value="255.255.255.0" />
    <add key="DefaultGateway2" value="192.168.2.1" />
    <add key=" PrefferedDNS2" value="8.8.8.8" />
  </appSettings>
</configuration>